body {
  background: rgb(244, 248, 249);
  font-family: Helvetica;
}

.tweet {
  background-color: rgb(255, 255, 255);
  border: solid rgb(225, 232, 237);
  border-width: 2px;
  border-radius: 10px;
  padding: 20px;
}

h1 {
  display: inline;
}
.follow-text{
  color: rgb(85, 172, 238);
  float:right;
  padding: 0px;
  line-height: 5px;
  display: inline-block;
}

.twitter-logo{
  position: relative;
  top: 7px;
  right: 10px;
  padding: 0px;
}

.follow-button{
  border: 2px solid rgb(85, 172, 238);
  border-radius: 10px;
  padding: 5px 25px;
  margin: 10px;
  float: right;


}

.comment{
  font-weight: normal;
  font-size: 2em;

}

.info{
  float: left;
  padding: 0 20px;
}
.profile-pic{
  float: left;
}
p {
  font-size: 20px;
  color: rgb(104, 109, 129);

}

.date{
  color: rgb(101,116,127);
  font-size: 1.5em;
}

.user{
  position: relative;
  bottom: 20px;
  right: 5px;
  font-size: 25px;
}

.post{
  clear: both;
}

.options{
  display: inline;
  color: rgb(105, 120, 130);
  font-size: 1.5em;
}

.buttons{
  padding-left: 20px;
}
